# ==========================================================
# Dependencies
# ==========================================================

node_modules/


# ==========================================================
# Package Managers
# ==========================================================

.pnpm-store/


# ==========================================================
# Build Output
# ==========================================================

dist/
build/
.next/
out/
coverage/


# ==========================================================
# Turbo
# ==========================================================

.turbo/


# ==========================================================
# Logs
# ==========================================================

*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*


# ==========================================================
# Environment
# ==========================================================

.env
.env.*
!.env.example


# ==========================================================
# IDE
# ==========================================================

.vscode/
.idea/


# ==========================================================
# Operating System
# ==========================================================

.DS_Store
Thumbs.db


# ==========================================================
# Temporary Files
# ==========================================================

*.tmp
*.temp